.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-item {
    margin-right: 10px;
}

.pagination .page-item:last-child {
    margin-right: 0;
}

.pagination .page-link {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

.pagination .page-link:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #333;
    border-color: #333;
}